<?xml version="1.0" encoding="UTF-8"?>
<root>
    <version>
        <major>1</major>
        <minor>0</minor>
        <build>0</build>
        <revision>0</revision>
    </version>
    <segment>
        <name>mfg</name>
        <id>1211190529</id>
        <address>128</address>
        <parameter>
            <name>gyro_sensor_to_body</name>
            <type>matrix3x3</type>
            <offset>0</offset>
            <size>36</size>
        </parameter>
        <parameter>
            <name>gyro_bias</name>
            <type>vector3</type>
            <offset>36</offset>
            <size>12</size>
        </parameter>
        <parameter>
            <name>accel_sensor_to_body</name>
            <type>matrix3x3</type>
            <offset>48</offset>
            <size>36</size>
        </parameter>
        <parameter>
            <name>accel_bias</name>
            <type>vector3</type>
            <offset>84</offset>
            <size>12</size>
        </parameter>
    </segment>
    <segment>
        <name>inst</name>
        <id>1211190530</id>
        <address>384</address>
        <parameter>
            <name>gyro_sensor_to_body</name>
            <type>matrix3x3</type>
            <offset>0</offset>
            <size>36</size>
        </parameter>
        <parameter>
            <name>gyro_bias</name>
            <type>vector3</type>
            <offset>36</offset>
            <size>12</size>
        </parameter>
        <parameter>
            <name>accel_sensor_to_body</name>
            <type>matrix3x3</type>
            <offset>48</offset>
            <size>36</size>
        </parameter>
        <parameter>
            <name>accel_bias</name>
            <type>vector3</type>
            <offset>84</offset>
            <size>12</size>
        </parameter>
        <parameter>
            <name>mag_0_sensor_to_body</name>
            <type>matrix3x3</type>
            <offset>96</offset>
            <size>36</size>
        </parameter>
        <parameter>
            <name>mag_0_bias</name>
            <type>vector3</type>
            <offset>132</offset>
            <size>12</size>
        </parameter>
        <parameter>
            <name>mag_1_sensor_to_body</name>
            <type>matrix3x3</type>
            <offset>144</offset>
            <size>36</size>
        </parameter>
        <parameter>
            <name>mag_1_bias</name>
            <type>vector3</type>
            <offset>180</offset>
            <size>12</size>
        </parameter>
        <parameter>
            <name>diff_pressure_0_scale</name>
            <type>float</type>
            <offset>192</offset>
            <size>4</size>
        </parameter>
        <parameter>
            <name>diff_pressure_0_bias</name>
            <type>uint32</type>
            <offset>196</offset>
            <size>4</size>
        </parameter>
        <parameter>
            <name>diff_pressure_1_scale</name>
            <type>float</type>
            <offset>200</offset>
            <size>4</size>
        </parameter>
        <parameter>
            <name>diff_pressure_1_bias</name>
            <type>uint32</type>
            <offset>204</offset>
            <size>4</size>
        </parameter>
        <parameter>
            <name>stat_pressure_0_scale</name>
            <type>float</type>
            <offset>208</offset>
            <size>4</size>
        </parameter>
        <parameter>
            <name>stat_pressure_0_bias</name>
            <type>uint32</type>
            <offset>212</offset>
            <size>4</size>
        </parameter>
        <parameter>
            <name>stat_pressure_1_scale</name>
            <type>float</type>
            <offset>216</offset>
            <size>4</size>
        </parameter>
        <parameter>
            <name>stat_pressure_1_bias</name>
            <type>uint32</type>
            <offset>220</offset>
            <size>4</size>
        </parameter>
        <parameter>
            <name>pci_loop_a_min_voltage</name>
            <type>float</type>
            <offset>224</offset>
            <size>4</size>
        </parameter>
        <parameter>
            <name>pci_loop_b_min_voltage</name>
            <type>float</type>
            <offset>228</offset>
            <size>4</size>
        </parameter>
        <parameter>
            <name>pci_lower_limit_percentage</name>
            <type>float</type>
            <offset>232</offset>
            <size>4</size>
        </parameter>
        <parameter>
            <name>pci_up_voltage</name>
            <type>float</type>
            <offset>236</offset>
            <size>4</size>
        </parameter>
        <parameter>
            <name>pci_left_voltage</name>
            <type>float</type>
            <offset>240</offset>
            <size>4</size>
        </parameter>
        <parameter>
            <name>pci_mode_voltage</name>
            <type>float</type>
            <offset>244</offset>
            <size>4</size>
        </parameter>
        <parameter>
            <name>pci_engage_loop_a_voltage</name>
            <type>float</type>
            <offset>248</offset>
            <size>4</size>
        </parameter>
        <parameter>
            <name>pci_down_voltage</name>
            <type>float</type>
            <offset>252</offset>
            <size>4</size>
        </parameter>
        <parameter>
            <name>pci_right_voltage</name>
            <type>float</type>
            <offset>256</offset>
            <size>4</size>
        </parameter>
        <parameter>
            <name>pci_engage_loop_b_voltage</name>
            <type>float</type>
            <offset>260</offset>
            <size>4</size>
        </parameter>
        <parameter>
            <name>board_serial_number_0</name>
            <type>uint32</type>
            <offset>264</offset>
            <size>4</size>
        </parameter>
        <parameter>
            <name>board_serial_number_1</name>
            <type>uint32</type>
            <offset>268</offset>
            <size>4</size>
        </parameter>
        <parameter>
            <name>adp_board_serial_number_0</name>
            <type>uint32</type>
            <offset>272</offset>
            <size>4</size>
        </parameter>
        <parameter>
            <name>adp_board_serial_number_1</name>
            <type>uint32</type>
            <offset>276</offset>
            <size>4</size>
        </parameter>
    </segment>
</root>
